.colorPickerBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.colorPicker {
  width: 500px;
}

.colorOutput {
  width: 290px;
  height: 300px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.matchingColors {
  border: 1px black solid;
  border-radius: 10px;
}